<ion-view view-title="{{'Drug Details'|translate}}">
<ion-content ng-controller="DrugDetailsCtrl">
    <ion-list
        show-delete="shouldShowDelete"
        show-reorder="shouldShowReorder"
        can-swipe="listCanSwipe">
        <ion-item class="item-icon-left">
            <i class="icon ion-erlenmeyer-flask"></i>
            <span translate>drug</span>: {{drug.getName()}}
        </ion-item>
        <ion-item class="item-icon-left">
            <i class="icon ion-clipboard"></i>
            <span translate>description</span>: {{drug.getDescription()}}
        </ion-item>
        <ion-item class="item-icon-left">
            <i class="icon ion-funnel"></i>
            <span translate>type</span>: {{drug.getType()}}
        </ion-item>
    </ion-list>
</ion-content>
</ion-view>