<ion-content ng-controller="DrugListCtrl">
    <div class="list">
        <label class="item item-input item-floating-label">
            <span class="input-label">Type drug name</span>
            <input type="text" placeholder="Type drug name" ng-model="query">
        </label>
    </div>
    <ion-list
        show-delete="shouldShowDelete"
        show-reorder="shouldShowReorder"
        can-swipe="listCanSwipe">
        <ion-item ng-repeat="drug in drugs | filter: query" class="item-icon-right">
            {{drug.name}}
            </ion-reorder-button>
            <ion-option-button class="button-balanced" ng-click="showDetails('{{drug.id}}')">
                <i class="ion-search">Show Details</i> 
            </ion-option-button>
            <ion-option-button class="button-royal" ng-click="calculateDose('{{drug.id}}')">
                <i class="ion-ios-settings">Calculate Dose</i> 
            </ion-option-button>
        </ion-item>
    </ion-list>
</ion-content>