<ion-view view-title="{{'Drug List'|translate}}">
<ion-content ng-controller="DrugListCtrl">
    <div class="list">
        <label class="item item-input item-floating-label">
            <span class="input-label">Type drug name</span>
            <input type="text" placeholder="Type drug name" ng-model="query">
        </label>
    </div>
    <ion-list
        show-delete="shouldShowDelete"
        show-reorder="shouldShowReorder"
        can-swipe="listCanSwipe">
        <ion-item ng-repeat="drug in drugs | filter: query" class="item-button-right">
            {{drug.name}}
            <div class="buttons">
                <button class="button button-balanced" ui-sref="drug-details({drugId: drug.id})">
                    <i class="ion-search"></i> 
                </button>
                <button class="button button-royal" ui-sref="drug-dose({drugId: drug.id})">
                    <i class="ion-ios-settings"></i> 
                </button>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
</ion-view>