<ion-content ng-controller="DrugDoseCtrl">
    <div class="card">
        <form ng-submit="calculateDose(input)">
            <div class="list">
                <div class="item">
                        {{drug.getName()}}
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Weight</span>
                    <input ng-model="input.weight" type="number" placeholder="[kg]" min="0">
                </label>
                <div class="item">
                    <button type="submit" class="button button-block button-positive">
                        Calculate
                    </button>
                </div>
            </div>
        </form>
    </div>
</ion-content>